body {
  overflow-x: hidden;
}
h4 {
  width: 70%;
  font-size: 2.5vw;

  color: #2b4162;
}
.author2 {
}
.gallery {
  padding: 5rem;
}
.gallerySlider img {
  /* margin: 0 1rem; */
  padding: 0 1rem;
}
.galleryHead h1 {
  font-weight: 600;
  font-size: 5rem;
  color: #124e78;
  font-family: "Cormorant Garamond", serif;
  text-align: center;
  padding: 0 0 5rem 0;
}
.gallerySlider .slick-dots {
  display: none;
}

.gallerySlider .slick-next:before {
  color: gray;
}
.gallerySlider .slick-prev:before {
  color: gray;
}
@media (max-width: 768px) {
  .col-6 h4 {
    width: 90%;
  }
  .container {
    padding: 1rem 0rem 0;
  }
  .galleryHead h1 {
    font-size: 7vw;
    padding: 0 0 1.5rem 0;
  }
  .gallery {
    padding: 2rem 3rem 3rem;
  }
}
.authorTopSection {
  position: relative;
}
.authorTopSectionContent {
  position: absolute;
  top: 28%;
  left: 8%;
  width: 54%;
  font-family: "Cormorant Garamond", serif;
  font-weight: 900;
  color: white;
}

.authorTopSectionContent h1 {
  font-size: 4vw;
  font-weight: 700;
}
.authorTopSectionContent h3 {
  font-size: 3vw;
  font-weight: 500;
}
