body {
  overflow-x: hidden;
}
.contactFormSection {
  display: flex;
  width: 100vw;
}
.sideImage,
.contactForm {
  flex: 50%;
}
.footerSearch {
  width: 75%;
  margin: 2rem auto;
}
input[type="text"],
input[type="number"],
input[type="email"],
input[type="tel"],
textarea,
select {
  width: 30vw;
  height: 3vw;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.contactForm {
  margin: 1rem 0rem 1rem 10vw;
}
.contactFormDiv {
  border-radius: 5px;
  padding: 2rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin: 3vw 10vw 0.4vw 0rem;
}
.sideImage {
  display: flex;
  align-items: flex-end;
}
.sideImage img {
  width: 100%;
}
.contactForm h1 {
  color: #124e78;
  font-family: "Cormorant Garamond", serif;
  font-weight: 600;
  font-size: 2.5rem;
}
.iti__selected-flag {
  z-index: 1;
}
.footerFirst h6 {
  font-size: 1.5vw;
}
.footerSearch {
  width: 50%;
}
.footerSearch form {
  width: 98%;
  margin: 0 auto;
}
.iti {
  width: 100%;
}
@media (max-width: 768px) {
  .contactFormSection {
    flex-direction: column;
  }
  input[type="text"],
  input[type="number"],
  input[type="email"],
  input[type="tel"],
  textarea,
  select {
    width: 100%;
    height: unset;
  }
  .sideImage {
    display: none;
  }
  .buttonFont {
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }
  .contactForm h1 {
    font-size: 1.2rem;
  }
  .footerSearch {
    width: 95%;
    margin: 0.5rem auto;
  }
  .footerFirst h6 {
    font-size: 3vw;
  }
  .footerFirst h4 {
    font-size: 3vw;
  }
}
